# artifacts
__pycache__
.pytest*
*.egg-info
*/build/*
*/dist/*

# misc
.coverage
.vscode
coverage.xml
.ruff_cache
*.code-workspace
venv
.venv

# Home Assistant configuration
config/*
!config/configuration.yaml
