[tool.poetry]
name = "homeassistant-myskoda"
version = "1.21.5"
description = "HomeAssistant integration for MySkoda."
authors = [
    "Frederick Gnodtke <frederick@gnodtke.net>",
    "WebSpider <bacardicoke@gmail.com>",
    "Fabrice Devaux <fabrice.devaux@gmail.com>",
]
readme = "README.md"
package-mode = false

[tool.poetry.dependencies]
python = ">=3.13,<3.14"
homeassistant = "^2025.3.2"
myskoda = "^0.22.1"

[tool.poetry.group.dev.dependencies]
ruff = "^0.11.2"
homeassistant-stubs = "^2025.3.2"
pyright = "^1.1.396"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.pyright]
reportIncompatibleVariableOverride = "none"
