name: Crowdin download

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0,3,6,9,12,15,18,21 * * *'

permissions: write-all

jobs:
  synchronize-with-crowdin:
    if: github.repository_owner == 'skodaconnect'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: crowdin action
        uses: crowdin/github-action@v2
        with:
          upload_sources: false
          upload_translations: false
          download_translations: true
          download_translations_args: --skip-untranslated-strings
          localization_branch_name: l10n_crowdin
          create_pull_request: true
          commit_message: |
            chore(i10n): update translations
          pull_request_title: 'chore(l10n): update translations from Crowdin'
          pull_request_body: 'New translations submitted'
          pull_request_base_branch_name: 'main'
          pull_request_labels: translations, chore
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CROWDIN_PROJECT_ID: ${{ secrets.CROWDIN_PROJECT_ID }}
          CROWDIN_PERSONAL_TOKEN: ${{ secrets.CROWDIN_PERSONAL_TOKEN }}
