name: Lint

on:
  push:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Clone the repository
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.6.17"
          enable-cache: true

      - name: Install Python dependencies
        run: |
          uv sync --all-extras
          uv pip install pre-commit

      - name: Pre-commit
        run: |
          uv run pre-commit run --hook-stage manual --all-files
