name: "Release"

on:
  release:
    types:
      - "published"

permissions: {}

jobs:
  release:
    if: github.repository_owner == 'skodaconnect'
    name: "Release"
    runs-on: "ubuntu-latest"
    permissions:
      contents: write
    steps:
      - name: "Checkout the repository"
        uses: "actions/checkout@v6"

      - name: "ZIP the integration directory"
        shell: "bash"
        run: |
          cd "${{ github.workspace }}/custom_components/myskoda"
          zip homeassistant-myskoda.zip -r ./

      - name: "Upload the ZIP file to the release"
        uses: "softprops/action-gh-release@v2.4.2"
        with:
          files: ${{ github.workspace }}/custom_components/myskoda/homeassistant-myskoda.zip
